<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h2>Bienvenido a la Página de Inicio</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
    
    <p><a href="{% url 'logout' %}">Cerrar Sesión</a></p>
    <p><a href="{% url 'login' %}">Iniciar Sesión</a></p>
    <p><a href="{% url 'register' %}">Registrarse</a></p>

</body>
</html>
